
# DataStructure in Python

MultiDimentional List

In [2]:
lst=[[1,2,3],[4,5,6],[7,8,9]]
print(lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
#accessing single list from multidimentional list
print(lst[0])
print(lst[1])
print(lst[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [8]:
#accessing single element of list 
print(lst[0][1])

2

In [12]:
#modifying the values
lst[1][2]=16
print(lst)

[[1, 2, 3], [4, 5, 16], [7, 8, 9]]

In [14]:
#modifying the whole list
lst[2]=["Sachin Jalakoti",24]
print(lst)

[[1, 2, 3], [4, 5, 16], ['Sachin Jalakoti', 24]]

In [15]:
print(lst[:])

[[1, 2, 3], [4, 5, 16], ['Sachin Jalakoti', 24]]

In [16]:
#appending the values
lst.append([12,14,18])
print(lst)

[[1, 2, 3], [4, 5, 16], ['Sachin Jalakoti', 24], [12, 14, 18]]

In [17]:
#deleting the list
del lst[0]
print(lst)

[[4, 5, 16], ['Sachin Jalakoti', 24], [12, 14, 18]]

In [18]:
#check the lenght of list
print(len(lst))

3

In [19]:
#reverse the list
print(lst[::-1])

[[12, 14, 18], ['Sachin Jalakoti', 24], [4, 5, 16]]

In [23]:
lst.reverse()
print(lst)

[[12, 14, 18], ['Sachin Jalakoti', 24], [4, 5, 16]]

In [24]:
#accessing all the elements of list
print(lst)
for i in lst:
    print(i)

[[12, 14, 18], ['Sachin Jalakoti', 24], [4, 5, 16]]
[12, 14, 18]
['Sachin Jalakoti', 24]
[4, 5, 16]

In [31]:
#printing all the elements of list one by one
for i in lst:
    for j in i:
        print(j)
        
print("-"*100)

12
14
18
Sachin Jalakoti
24
4
5
16
----------------------------------------------------------------------------------------------------

List Comprehension

In [33]:
a=[1,2,3,4,5,6,7,8]
print(a)
s=[]
for i in a:
    s.append(i**2)
    
print(s)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

In [36]:
b=[i**2 for i in a]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64]

In [38]:
c=[i for i in range(20) if i%2==0]
print(c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [39]:
#printing multiplication table
n=20
d=[i for i in range(n,n*10+1) if i%n==0 ]
print(d)

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [42]:
print([i for i in range(21) if i%2==0] )

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
print([i**2 for i in range(21) if i%2==0])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [47]:
#printing multidimention list using list comprehension
print([[j for j in range(5)] for i in range(5)])

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [48]:
print([[j for j in range(5)] for i in range(3)])

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [51]:
x=[[j for j in range(1,4)] for i in range(3)]
print(x)

[[1, 1, 1, 2, 2, 2, 3, 3, 3]]

In [52]:
print([num for row in x for num in row])

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [60]:
f=[[1,2,3],[4,5,6],[7,8,9]]
print(f)
for i in f:
    for j in i:
        print(j)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
2
3
4
5
6
7
8
9

Dictionary in Python

In [2]:
dict={1:'sachin',2:'hrutik',3:'nilesh',4:'sachin'}
print(dict)

{1: 'sachin', 2: 'hrutik', 3: 'nilesh', 4: 'sachin'}

In [4]:
#accessing the elements from dict
print(dict[3])
print(dict.get(3))

nilesh
nilesh

In [5]:
#Adding and updating key value pairs
dict[5]='Ramesh'
print(dict)

#deleting the key value pair
del dict[5]
print(dict)

{1: 'sachin', 2: 'hrutik', 3: 'nilesh', 4: 'sachin', 5: 'Ramesh'}
{1: 'sachin', 2: 'hrutik', 3: 'nilesh', 4: 'sachin'}

In [7]:
# clearing the dictionary
dict.clear()
print(dict)

{}

In [9]:
#accessing the keys and value from dict
dict={1:'sachin',2:'hrutik',3:'nilesh',4:'sachin'}
print(dict)
print(dict.keys())
print(dict.values())

{1: 'sachin', 2: 'hrutik', 3: 'nilesh', 4: 'sachin'}
dict_keys([1, 2, 3, 4])
dict_values(['sachin', 'hrutik', 'nilesh', 'sachin'])

In [11]:
for i in dict.keys():
    print(i)

1
2
3
4

In [12]:
for i in dict.values():
    print(i)

sachin
hrutik
nilesh
sachin

In [13]:
for i in dict.items():
    print(i)

(1, 'sachin')
(2, 'hrutik')
(3, 'nilesh')
(4, 'sachin')

In [14]:
for i,j in dict.items():
    print(i,j)

1 sachin
2 hrutik
3 nilesh
4 sachin

In [15]:
#checking the key is present or not in the dict
print(1 in dict)
print('om'in dict)

True
False

In [16]:
#updating the dictionary
dict1={1:'A',2:'B',3:'C',4:'D',5:'E'}
dict2={1:'a',2:'b',3:'c',4:'d',5:'e'}
dict1.update(dict2)
print(dict1)
print(dict2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [20]:
#adding two dictionaries
dict1={1:'A',2:'B',3:'C',4:'D',5:'E'}
dict2={6:'a',7:'b',8:'c',9:'d',10:'e'}
dict3=(dict1,dict2)
print(dict3)

({1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}, {6: 'a', 7: 'b', 8: 'c', 9: 'd', 10: 'e'})

In [1]:
for i in dict1:
    i,dict1[i]
    dict1[i]=dict2[i]
    
print(dict2)  
print("--"*100)

NameError: name 'dict1' is not defined

Multidimentional Dictionary

In [4]:
dct={1:{'name':'sachin','phone':123456789},
     2:{'name':'rahul','phone':12344578789},
     3:{'name':'rohan','phone':4745393456789}}
print(dct)

{1: {'name': 'sachin', 'phone': 123456789}, 2: {'name': 'rahul', 'phone': 12344578789}, 3: {'name': 'rohan', 'phone': 4745393456789}}

In [6]:
#Accessing the elements
print(dct[1])
print(dct[3]['name'])

{'name': 'sachin', 'phone': 123456789}
rohan

In [9]:
#adding ,updating the dictionary
dct[3]['name']='Raj'
print(dct)

dct[4]={'name':'Rohan','phone':129630649}
print(dct)

{1: {'name': 'sachin', 'phone': 123456789}, 2: {'name': 'rahul', 'phone': 12344578789}, 3: {'name': 'Raj', 'phone': 4745393456789}}
{1: {'name': 'sachin', 'phone': 123456789}, 2: {'name': 'rahul', 'phone': 12344578789}, 3: {'name': 'Raj', 'phone': 4745393456789}, 4: {'name': 'Rohan', 'phone': 129630649}}

In [19]:
del dct[4]
print(dct)

{1: {'name': 'sachin', 'phone': 123456789}, 2: {'name': 'rahul', 'phone': 12344578789}, 3: {'name': 'Raj', 'phone': 4745393456789}}

In [20]:
#Going through the data
for i in dct:
    print(i,dct[i])

1 {'name': 'sachin', 'phone': 123456789}
2 {'name': 'rahul', 'phone': 12344578789}
3 {'name': 'Raj', 'phone': 4745393456789}

In [21]:
for i in dct.keys():
    print(i,dct[i]['name'],dct[i]['phone'])

1 sachin 123456789
2 rahul 12344578789
3 Raj 4745393456789

In [24]:
data={1:{'name':'sachin','phone':123456789,'marks':{'hindi':50,'math':50,'marathi':50}},
     2:{'name':'rahul','phone':12344578789,'marks':{'hindi':40,'math':40,'marathi':50}},
     3:{'name':'rohan','phone':47453934589,'marks':{'hindi':30,'math':30,'marathi':50}}}
print(data)

{1: {'name': 'sachin', 'phone': 123456789, 'marks': {'hindi': 50, 'math': 50, 'marathi': 50}}, 2: {'name': 'rahul', 'phone': 12344578789, 'marks': {'hindi': 40, 'math': 40, 'marathi': 50}}, 3: {'name': 'rohan', 'phone': 47453934589, 'marks': {'hindi': 30, 'math': 30, 'marathi': 50}}}

In [25]:
for i in data:
    print(i,data[i])

1 {'name': 'sachin', 'phone': 123456789, 'marks': {'hindi': 50, 'math': 50, 'marathi': 50}}
2 {'name': 'rahul', 'phone': 12344578789, 'marks': {'hindi': 40, 'math': 40, 'marathi': 50}}
3 {'name': 'rohan', 'phone': 47453934589, 'marks': {'hindi': 30, 'math': 30, 'marathi': 50}}

In [29]:
for i in data.keys():
    print(i,data[i]['name'],data[i]['marks'])

1 sachin {'hindi': 50, 'math': 50, 'marathi': 50}
2 rahul {'hindi': 40, 'math': 40, 'marathi': 50}
3 rohan {'hindi': 30, 'math': 30, 'marathi': 50}

In [34]:
for i in data.keys():
    print(i,data[i]['name'],data[i]['marks']['marathi'])
    
print("---"*40)

1 sachin 50
2 rahul 50
3 rohan 50
------------------------------------------------------------------------------------------------------------------------

Dictionary Comprehension

In [35]:
#dictionary with condition
data1={i:i**2 for i in range(1,6)}
print(data1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
dct={i:i**2 for i in range(1,11) if i%2==0}
print(dct)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [39]:
a={}
for i in range(1,11):
    if i%2==0:
        a[i]=i*i
    
print(a)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [41]:
#Dictionary  from list
lst=['Apple','Banana','Grapes']
dct={item:len(item) for item in lst}
print(lst)
print(dct)

['Apple', 'Banana', 'Grapes']
{'Apple': 5, 'Banana': 6, 'Grapes': 6}

In [42]:
dct={len(item):item for item in lst}
print(dct)

{5: 'Apple', 6: 'Grapes'}

In [46]:
#Special keys with string
d={i:i for i in range(1,11)}
print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [52]:
#shortlisting based on values
c={'num'+str(i):i for i in range(1,11)}
print(c)
c.items()

{'num1': 1, 'num2': 2, 'num3': 3, 'num4': 4, 'num5': 5, 'num6': 6, 'num7': 7, 'num8': 8, 'num9': 9, 'num10': 10}

dict_items([('num1', 1), ('num2', 2), ('num3', 3), ('num4', 4), ('num5', 5), ('num6', 6), ('num7', 7), ('num8', 8), ('num9', 9), ('num10', 10)])

In [53]:
c={k:v for k,v in c.items() if v%3==0}
print(c)

{'num3': 3, 'num6': 6, 'num9': 9}

In [57]:
lst1=['a','b','c','d']
lst2=[1,2,3,4]
z={lst2[i]:lst1[i] for i in range(len(lst2))}
print(z)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [2]:
# matrix dictionary comprehensive
matrix=[[1,2,3],[4,5,6],[7,8,9]]
final_dct={(i,j):matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

In [3]:
final_dct={matrix[i][j]:[i,j] for i in range(3) for j in range(3)}
print(final_dct)

{1: [0, 0], 2: [0, 1], 3: [0, 2], 4: [1, 0], 5: [1, 1], 6: [1, 2], 7: [2, 0], 8: [2, 1], 9: [2, 2]}

In [11]:
d1={'a':100,'b':200,'c':300}
d2={'a':300, 'b':200,'d':100}
d3={d1[i]+d2[i] for i,j in d1.items() if i in d2  }
print(d3)

{400}

In [10]:
d1={'a':100,'b':200,'c':300}
d2={'a':300, 'b':200,'d':100}
for i,j in d1.items():
    if i in d2:
        d2[i]=d1[i]+d2[i]
    else:
        d2[i]=j
print(d2)
print("---"*40)

{'a': 400, 'b': 400, 'd': 100, 'c': 300}
------------------------------------------------------------------------------------------------------------------------

Set and Tuple

In [11]:
set={1,2,3,4,5}
print(set)
print(type(set))

{1, 2, 3, 4, 5}
<class 'set'>

In [13]:
#Adding the element in set
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

In [15]:
#Popping the element from set
set.pop()
print(set)

{2, 3, 4, 5, 6}

In [18]:
#Removing the elements from the set
set.discard(4)
print(set)

{2, 3, 5, 6}

In [19]:
#Iterating the set
set1={1,2,3,4,5,6}
print(set1)
for i in set1:
    print(i)

{1, 2, 3, 4, 5, 6}
1
2
3
4
5
6

In [20]:
# Checking the value or element in set
print(7 in set)
print(2 in set)
print(9 in set)

False
True
False

In [25]:
# Set union operation
set1={1,2,3}
set2={4,2,1}
print("Union :",set1|set2)
print("Intersection :",set1&set2)
print("Difference :",set1-set2)
print("Difference :",set2-set1)
print("Symmetric Difference :",set1^set2)

Union : {1, 2, 3, 4}
Intersection : {1, 2}
Difference : {3}
Difference : {4}
Symmetric Difference : {3, 4}

In [26]:
# Clearing the set
set1.clear()
print(set1)

set()

Tuple in Python

In [27]:
# Tuple Inialization
tpl=(1,2,3,4)
print(tpl)

(1, 2, 3, 4)

In [28]:
# Accessong the element from tuple
print(tpl[2])

3

In [29]:
# Slicing the tpl
print(tpl[1:4])

(2, 3, 4)

In [30]:
# Concatenation in tpl
tpl1=(1,2,3,4)
tpl2=(5,6,7,8)
print("Conatenation of tpls :",tpl1+tpl2)

Conatenation of tpls : (1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
# Iteratin in the tpl
tpl=(1,2,4,5,6,7,8)
print(tpl)
for i in tpl:
    print(i)

(1, 2, 4, 5, 6, 7, 8)
1
2
4
5
6
7
8

In [33]:
# Checking the element in the tpl
print(2 in tpl)
print(11 in tpl)

True
False

In [36]:
# Counting the element in tpl
tpl3=(2,4,5,8,9,)
tpl4=tpl3+tpl
print(tpl4)
print(tpl4.count(6))
print(tpl4.count(5))

(2, 4, 5, 8, 9, 1, 2, 4, 5, 6, 7, 8)
1
2

In [39]:
#Finding the index of element in tpl
t=(1,2,3,4,5,6,7,8,9)
print(t.index(4))

3

In [40]:
# Multiplying the tpl
print(t*3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [42]:
print(type(5/2))
print(type(5//2))

<class 'float'>
<class 'int'>